.row{
  padding:20px;  
}
div{
  background-color: #ce97a4;
  text-align: center;
  align-items: center;
  color: aliceblue;
}

/*estilo de la foto de perfil*/
  
@media (min-width: 576px) {
  #fotoPerfil{
    position: relative;
    border-radius: 50%;
    margin-top: -50px;
    z-index: 1;
    box-shadow: 10px 10px 30px #000000bf;
  }
}
@media (max-width: 575px) {
  #fotoPerfil{
    position: relative;
    border-radius: 50%;
    margin-top: -50px;
    z-index: 1;
    box-shadow: 10px 10px 30px #000000bf;  
  }
}
#nombre{
  align-items: center
}

.descripcion{
  display: flex;
  justify-content: center;
  align-items: center;
}
  