<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <img src="../../../assets/imágenes/FotoPerfil1.png" class="img-fluid" id="fotoPerfil"/>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
    <p>Full Stack Developer Jr.</p>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <span>
      <h1>Acerca de mi:</h1>
      <p>
        Hago diseño gráfico orientado a packaging. 
        Trabajé en desarrollo de packaging en una empresa flexográfica durante más de 20 años.
        Trabajo con imágenes. Me interesa programar porque es una muy buena manera de aplicar los conocimientos adquiridos a lo largo de mi vida.
      </p>
    </span>
  </div>
</div>
